body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.webchimeras {
    float: left;
    width: 50%;
    height: 50%;
  }

  .resize-div {
    border: 5px solid;
    padding: 5px; 
    /* width: 300px; */
    resize: both;
    overflow: auto;
}
  

#player1 {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    /* border: 1px solid #d3d3d3;
    text-align: center; */
    cursor: move;
  }
  #player2 {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    /* border: 1px solid #d3d3d3;
    text-align: center; */
    cursor: move;
  }
  #player3 {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    /* border: 1px solid #d3d3d3;
    text-align: center; */
    cursor: move;
  }
  #player4 {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    /* border: 1px solid #d3d3d3;
    text-align: center; */
    cursor: move;
  }